.box {
  /*border-style: solid;
  border-width: 1px;
  border-color: lightgrey;*/
}
.padding {
  padding: 20px 20px 20px 20px;
}
.description {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  height: 100px;
}
.bottom-right{
  float:right;
  margin-top: 0px;
  /*margin-bottom: 20px;*/
  /*margin: 0px 0px 0px 0px;*/
}
.right{
  float:right;
  /*margin: 0px 0px 0px 0px;*/
}
.label {
  /*min-width: 50px !important;*/
  width: 100%;
  display: inline-block !important
}
.thumbnail img {
  max-height:120px;
  /*max-width:200px;*/
  /*height:150px;*/
}
.thumbnail {
  border-width: 2px!important;
}
.thumbnail-large {
  border-width: 2px!important;
  min-height: 600px;
}
.panel-body {
  font-weight: bold;
  font-size: 1.3em;
}
.bootstrap-color-primary {
  color: #337ab7;
}
.btn-primary-emailed {
    color: #2e6da4;
    background-color: #FFF;
    border-color: #2e6da4!important;
}
.btn-primary-emailed:hover {
    color: #fff!important;
    background-color: #286090;
    border-color: #204d74;
}
.btn-primary-unemailed {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary-unemailed:hover {
    color: #fff!important;
    background-color: #286090;
    border-color: #204d74;
}
.btn {
  margin: 5px 2px!important;
  padding: 6px 6px!important;
}
.panel-body {
    background-color: #F8F8FF;
}
.friend-padding {
  padding-left: 0px!important;
  /*padding-bottom: 15px!important;*/
}
.friend-dropdown {
  padding-top: 20px;
}
/* file uploader css */
/*                   */
/*.btn:focus, .upload-btn:focus{
  outline: 0 !important;
}

html,
body {
  height: 100%;
  background-color: #4791D2;
}

body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.row {
  margin-top: 80px;
}

.upload-btn {
  color: #ffffff;
  background-color: #F89406;
  border: none;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active,
.upload-btn.active {
  color: #ffffff;
  background-color: #FA8900;
  border: none;
}

h4 {
  padding-bottom: 30px;
  color: #B8BDC1;
}

.glyphicon {
  font-size: 5em;
  color: #9CA3A9;
}

h2 {
  margin-top: 15px;
  color: #68757E;
}

.panel {
  padding-top: 20px;
  padding-bottom: 20px;
}

#upload-input {
  display: none;
}

@media (min-width: 768px) {
  .main-container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 450px;
  }
}*/
