<div class="panel-body-groups">
    <h2>Friends</h2>
    <span class="glyphicon glyphicon-plus bottom-right-groups" aria-hidden="true" ng-if="!$ctrl.friendEditDropdown" ng-click="$ctrl.editFriend()"></span>
</div>
<!-- <div class="friend-dropdown" ng-show="$ctrl.friendEdit[friend.id]"> -->
<div class="group-dropdown" ng-show="$ctrl.friendEditDropdown">
  <form ng-submit="$ctrl.addFriend()">

    <div class="form-group">
        <!-- <label for="inputName">Name</label> -->
        <input type="text" class="form-control" id="inputName" aria-describedby="emailHelp" placeholder="Name" ng-model="$ctrl.data.name" required>
        <small id="emailHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <!-- <label for="inputName">Name</label> -->
        <input type="text" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Email" ng-model="$ctrl.data.email" required>
        <small id="emailHelp" class="form-text text-muted"></small>
    </div>

    <div class="">

        <a href="#" class="btn btn-danger bottom-right" role="button" ng-click="$ctrl.editFriend()">Cancel</a>
        <button type="submit" class="btn btn-success bottom-right">Submit</button>
        <!-- <a href="/profile/friends" class="btn btn-success bottom-right" role="button">Submit</a> -->
        <!-- <a href="#" class="btn btn-success bottom-right" role="button">Save</a> -->
        <!-- <a href="#" class="btn btn-primary bottom-right" role="button" ng-if="!$ctrl.friendEdit[friend.id]" ng-click="$ctrl.editFriendInfo(friend.id)">Edit</a> -->
    </div>
  </form>
</div>
<div ng-repeat="friend in $ctrl.friends">
    <!-- <div class="panel panel-default">
        <div class="panel-body">
            <div>{{ friend.name }}</div>
            <div><a href="#" class="btn btn-primary right" role="button">edit</a></div>
            <div class="panel panel-default right">
              <div>{{ friend.email }}</div>
          </div>
        </div>
    </div>
    <div class="well well-lg">{{ friend.name }}
      <div class="">{{ friend.email }}
    <a href="#" class="btn btn-primary bottom-right" role="button">edit</a>
</div> -->
<div class="panel panel-default">
    <div class="panel-body">
      <div class="friend-padding">

        {{ friend.name }}
        <span class="glyphicon glyphicon-plus bottom-right" aria-hidden="true" ng-if="!$ctrl.friendEdit[friend.id]" ng-click="$ctrl.editFriendInfo(friend.id)"></span>

        <br>
        Email: <span class="bootstrap-color-primary">{{ friend.email }}</span>
        </div>

    <!-- <div class="panel-body"> -->

    <div class="friend-dropdown" ng-show="$ctrl.friendEdit[friend.id]">
    <div class="form-group">
        <!-- <label for="inputName">Name</label> -->
        <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="Name">
        <small id="emailHelp" class="form-text text-muted"></small>
    </div>
      <div class="form-group">
          <!-- <label for="inputEmail">Email address</label> -->
          <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Email">
          <small id="emailHelp" class="form-text text-muted"></small>
      </div>
    </div>
    <div class="">

    <a href="#" class="btn btn-danger bottom-right" role="button" ng-if="$ctrl.friendEdit[friend.id]" ng-click="$ctrl.editFriendInfo(friend.id)">Cancel</a>
    <a href="#" class="btn btn-success bottom-right" role="button" ng-if="$ctrl.friendEdit[friend.id]" ng-click="$ctrl.editFriendInfo(friend.id)">Save</a>
    <!-- <a href="#" class="btn btn-primary bottom-right" role="button" ng-if="!$ctrl.friendEdit[friend.id]" ng-click="$ctrl.editFriendInfo(friend.id)">Edit</a> -->
  </div>
      </div>
</div>
<!-- </div> -->

</div>
