<div class="col-sm-12 panel-body-groups">
    <h2>Your Items</h2>
    <div class="add-item-button">
    <a href="/profile/add" class="btn btn-primary-unemailed" role="button" ng-click="$ctrl.setItemId(item.id)">Add Item</a>
  </div>

</div>
<div ng-repeat="item in $ctrl.items">
    <!-- <div class="row">
        <div class="col-sm-3 box">
            <img src="{{ item.image_url }}" width="150px" height="150px">
        </div>
        <div class="col-sm-9 box">
            <div class="row">
                <div class="col-sm-12 box">
                    <h4>{{ item.name }}</h4>
                </div>
                <div class="col-sm-12 box description">
                    {{ item.description }}
                    <div class="bottom-right">
                        {{ item.free }}
                    </div>
                    <div class="bottom-right">
                        {{ item.available }}
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="row"> -->
    <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

    <div class="col-sm-6 col-md-4" ng-if="!$ctrl.itemEdit[item.id]">
        <div class="thumbnail">
          <!-- <div ng-repeat="group in item.group">
            <div class="label label-success">{{ group.name }}</div>
          </div> -->
            <img src="{{ item.image_url }}" alt="..." height="150px">
            <div class="caption">
                <h3>{{ item.name }}</h3>
                <p>{{ item.description }}</p>
                <div class="bottom-right box">
                    <div class="label label-danger" ng-if="item.free">Free</div>
                    <div class="label label-success" ng-if="!item.free">$$$</div>
                    <br>
                    <div class="label label-success" ng-if="item.available">Available</div>
                    <div class="label label-danger" ng-if="!item.available">Claimed</div>
                </div>
                <div ng-repeat="group in item.group">
                  <!-- <p>{{ group.name }}</p> -->
                </div>

                <p><a href="#" class="btn btn-primary" role="button" data-toggle="modal" data-target="#myModal" ng-click="$ctrl.setItemId(item.id)">Edit</a>
                    <a href="#" class="btn btn-primary-emailed" role="button" ng-if="item.group.length == 0 && item.available" disabled>No Groups</a>
                    <a href="#" class="btn btn-primary-emailed" role="button" ng-if="!item.available" disabled>Claimed</a>
                    <a href="#" class="btn btn-primary-unemailed" role="button" data-toggle="modal" data-target="#pleaseWaitDialog" ng-show="item.group.length > 0" ng-if="item.available && !item.emailed" ng-click="$ctrl.sendEmail(item.id)">Send Email</a>
                    <a href="#" class="btn btn-primary-emailed" role="button" ng-if="item.emailed" ng-click="$ctrl.sendEmail(item.id)">Resend Email</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-12" ng-if="$ctrl.itemEdit[item.id]">
        <div class="thumbnail">
            <img src="{{ item.image_url }}" alt="..." height="150px">
            <div class="caption">
                <h3>{{ item.name }}</h3>
                <p>{{ item.description }}</p>
                <div class="bottom-right box">
                    <div class="label label-danger" ng-if="item.free">Free</div>
                    <div class="label label-success" ng-if="!item.free">$$$</div>
                    <br>
                    <div class="label label-success" ng-if="item.available">Available</div>
                    <div class="label label-danger" ng-if="!item.available">Claimed</div>
                </div>
                <p><a href="#" class="btn btn-primary" role="button" ng-click="$ctrl.editItemInfo(item.id)">save</a>
                    <a href="#" class="btn btn-primary-unemailed" role="button" ng-if="!item.emailed" ng-click="$ctrl.sendEmail(item.id)">Send Email</a>
                    <a href="#" class="btn btn-primary-emailed" role="button" ng-if="item.emailed">Resend Email</a></p>
            </div>
        </div>
    </div>
    <!-- </div> -->

    <div class="modal" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false">
        <!-- <div class="modal-header"> -->
            <!-- <h1>Please Wait</h1> -->
        <!-- </div> -->
        <!-- <div class="modal-body"> -->
            <div id="ajax_loader">
              <img src="images/ajax-loader.gif" width="100px" style="display: block; margin-left: auto; margin-right: auto; padding-top: 250px">
            </div>
        <!-- </div> -->
    </div>


    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <!-- <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ $ctrl.items[$ctrl.itemId-1].name }}</h4>
                </div> -->
                <!-- <div class="modal-body"> -->
                    <div class="col-sm-12">
                        <div class="thumbnail">
                            <img src="{{ $ctrl.items[$ctrl.itemId-1].image_url }}" alt="..." height="150px">
                            <div class="caption">


                              <form ng-submit="$ctrl.newItem()">
                                <div class="form-group">
                                  <label for="InputName">Name</label>
                                  <input type="text" class="form-control" id="InputName" aria-describedby="nameHelp" placeholder="{{ $ctrl.items[$ctrl.itemId-1].name }}" ng-model="$ctrl.data.name" required>
                                  <small id="nameHelp" class="form-text text-muted"></small>
                                </div>
                                <div class="form-group">
                                  <label for="InputDescription">Description</label>
                                  <textarea class="form-control" id="InputDescription" rows="3" ng-model="$ctrl.data.description" placeholder="{{ $ctrl.items[$ctrl.itemId-1].description }}"></textarea>
                                </div>
                                <div class="form-group">
                                  <label for="InputImageUrl">Image Url</label>
                                  <input type="text" class="form-control" id="InputImageUrl" aria-describedby="imageUrlHelp" placeholder="{{ $ctrl.items[$ctrl.itemId-1].image_url }}" ng-model="$ctrl.data.image_url">
                                  <small id="imageUrlHelp" class="form-text text-muted"></small>
                                </div>
                                <div class="form-check">
                                  <label class="form-check-label">
                                    Is this item for sale?
                                    <input type="checkbox" class="form-check-input" ng-model="sale">
                                  </label>
                                </div>
                              <div class="form-group" ng-show="sale">
                                <label for="InputPrice">Price</label>
                                <input type="number" class="form-control" id="InputPrice" aria-describedby="pricelHelp" placeholder="$" ng-model="$ctrl.data.price">
                                <small id="pricelHelp" class="form-text text-muted"></small>
                              </div>
                              <hr>

                              <!-- Dropdown checkboxes -->
                              <label for="InputImageUrl">Groups</label>
                              <div class="row padding">
                                  <div ng-repeat="group in $ctrl.groups">

                                  <div class="col-xs-6 col-sm-3">
                                      <div class="checkbox">
                                          <label ng-if="$ctrl.groupEdit[group.id]" ><input type="checkbox" ng-model="$ctrl.data.group[group.id]"  checked>{{ group.name }}</label>
                                          <label ng-if="!$ctrl.groupEdit[group.id]"><input type="checkbox" ng-model="$ctrl.data.group[group.id]" >{{ group.name }}</label>
                                      </div>
                                      <!-- <div class="input-group">
                                          <span class="input-group-addon"><input type="checkbox" aria-label="...">Test</span>
                                          <input type="text" class="form-control" aria-label="...">
                                      </div> -->
                                      <!-- /input-group -->
                                  </div>
                                  </div>
                              </div>

                                <button type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
                                <a href="/profile/items" class="btn btn-danger bottom-right" role="button" data-dismiss="modal">Cancel</a>
                              </form>



                            </div>
                        </div>
                    </div>
                <!-- </div> -->
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>

                </div> -->
            </div>

        </div>
    </div>
</div>
