<h2>Your Items</h2>

<div ng-repeat="item in $ctrl.items">
    <!-- <div class="row">
        <div class="col-sm-3 box">
            <img src="{{ item.image_url }}" width="150px" height="150px">
        </div>
        <div class="col-sm-9 box">
            <div class="row">
                <div class="col-sm-12 box">
                    <h4>{{ item.name }}</h4>
                </div>
                <div class="col-sm-12 box description">
                    {{ item.description }}
                    <div class="bottom-right">
                        {{ item.free }}
                    </div>
                    <div class="bottom-right">
                        {{ item.available }}
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="row"> -->
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{{ item.image_url }}" alt="..." height="150px">
                <div class="caption">
                    <h3>{{ item.name }}</h3>
                    {{ dog }}
                    <p>{{ item.description }}</p>
                    <div class="bottom-right box">
                    <div class="label label-success" ng-if="item.free">Free</div>
                    <div class="label label-success" ng-if="!item.free">$$$</div>
                    <br>
                    <div class="label label-success" ng-if="item.available">Available</div>
                    <div class="label label-danger" ng-if="!item.available">Claimed</div>
                  </div>
                    <p><a href="#" class="btn btn-primary" role="button">edit</a> <a href="#" class="btn btn-primary-unemailed" role="button" ng-if="!item.emailed">Send Email</a><a href="#" class="btn btn-primary-emailed" role="button" ng-if="item.emailed">Resend Email</a></p>
                </div>
            </div>
        </div>
    <!-- </div> -->
</div>
