<div class="col-sm-12 panel-body-groups">
    <h2>Claim Item</h2>
</div>

</div>
<div class="col-sm-12  min-width">
    <div class="thumbnail max-width" ng-show="!$ctrl.claimedItem && !$ctrl.claimedItemNo">
        <img src="http://hlsb.com/Images/Rockies/tickets.png" alt="..." height="150px">
        <div class="caption-center">
            <h3>Rockies Tickets</h3>
            <p>2 Tickets to Opening Day</p>
            <p>$45.00</p>

            <!-- <div class="bottom-right box">
                <div class="label label-danger" ng-if="item.free">Free</div>
                <div class="label label-success" ng-if="!item.free">$$$</div>
                <br>
                <div class="label label-success" ng-if="item.available">Available</div>
                <div class="label label-danger" ng-if="!item.available">Claimed</div>
            </div> -->
            <!-- <a href="/profile/items" class="btn btn-success bottom-right" role="button">Claim</a>
            <a href="/profile/items" class="btn btn-danger bottom-right" role="button">Cancel</a> -->

            <!-- <p> -->
              <a href="#" class="btn btn-success" role="button" ng-click="$ctrl.claimItem()">Claim</a>
                <a href="#" class="btn btn-danger" role="button" ng-click="$ctrl.claimItemNo()">Cancel</a>
              <!-- </p> -->
        </div>
    </div>
    <div class="thumbnail max-width" ng-show="$ctrl.claimedItem">
        <img src="http://hlsb.com/Images/Rockies/tickets.png" alt="..." height="150px">
        <div class="caption-center">
            <h3>Thank you for selecting this item.</h3>
            <p>We will be in touch with you shortly.</p>
        </div>
    </div>
    <div class="thumbnail max-width" ng-show="$ctrl.claimedItemNo">
        <img src="http://hlsb.com/Images/Rockies/tickets.png" alt="..." height="150px">
        <div class="caption-center">
            <h3>No worries, Thank you!</h3>
            <p></p>
        </div>
    </div>
</div>
